* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy-Light", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

/* #box1 {
  height: 100px;
  width: 100px;
  background-color: crimson;
}

#box2 {
  height: 100px;
  width: 100px;
  background-color: lightgreen;
} */

#nav {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: 2vw 3vw;
}

#options {
  font-size: 1vw;
  display: flex;
  gap: 1.5vw;
}

.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
}
